<div id='websites-container' class='container tab-pane'>
  <ul id='website-list' class="thumbnails">
    <%= render partial: 'websites/website', collection: websites.map(&:website) %>
  </ul>
  <% if websites.size >= BoardWebsite::COUNT_PER_PAGE %>
  <div id="website-pagination" class="well" style="text-align:center">
    <%= link_to "続きを見る", websites_board_path(
      id: websites.last.board_id,
      num: "-#{websites.last.id}"
    ) %>
  </div>
  <% end %>
</div>

