<div class="clearfix website-thumb pull-left">
  <div class="title">
    <%= link_to website.title.cut(10), website.url, title:  website.title  %>
  </div>
  <%= link_to website.url, class: "thumbnail", :target => "_BLANK" do %>
    <%= image_tag thumb_website_path(website), :title => website.title %>
  <% end %>
</div>
