<li class="website span3" data-hash-ids="<%= website.hash_ids.join(",") %>" data-type='ok'>
  <div class="well ok-website">
    <%= link_to website.url, class: "thumbnail", target: "_BLANK" do %>
      <%= image_tag thumb_website_path(website) %>
    <% end %>
    <h4><%= link_to website.title.to_s, website.url, target: "_BLANK" %></h4>
  </div>
  <div class="well ng-website">
    <%= image_tag 'placeholder.png', class: "placeholder thumbnail" %>
    <h4>NGだよ！</h4>
  </div>
</li>
