<div class="hero-unit">
  <div>
    <h1>
      <strong>
        まとめ＠ちゃんねる。
      </strong>
    </h1>
    <p style='margin:30px;'>
      まとめ＠ちゃんねる。はまとめられる掲示板です。
      <br>
      なにをまとめるのかというと・・・
      <br/>
      タグでまとめたり。
      <br/>
      画像とか動画とかURLとかをまとめたり。
      <br/>
      いいね！いくない！の総数でまとめたり。
      <br/>
      そんな掲示板です。
    </p>
  </div>
  <div class="rowundefined">
    <div class="span4">
    </div>
  </div>
  <%= link_to boards_path, class: "btn btn-inverse btn-large" do %>
    <strong>
      » 使ってみよう！
    </strong>
  <% end %>
</div>

