<div class="well clearfix devise-content">
<h2>ユーザ情報編集</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
   :html => { :method => :put, :class => "form-horizontal"} ) do |f| %>
  <%= render partial: 'shared/errors', object: f.object.errors %>

  <div class="field control-group <%= f.object.errors[:name].empty? ? '' : 'error' %>">
    <div class="input-prepend">
      <%= f.label :name, :class => "control-label" do %>
        <span class="add-on">名前</span>
      <% end%>
      <%= f.text_field :name, :placeholder => "名前" %>
    </div>
  </div>

  <div class="field control-group <%= f.object.errors[:email].empty? ? '' : 'error' %>">
    <div class="input-prepend">
      <%= f.label :email, :class => "control-label" do %>
        <span class="add-on">Eメール</span>
      <% end%>
      <%= f.email_field :email, :placeholder => "メールアドレス" %>
    </div>
  </div>

  <div class="field control-group <%= f.object.errors[:password].empty? ? '' : 'error' %>">
    <div class="input-prepend">
      <%= f.label :password, :class => "control-label" do %>
        <span class="add-on">パスワード</span>
      <% end%>
      <%= f.password_field :password, :placeholder => "パスワード" %>
    </div>
  </div>

  <div class="field control-group <%= f.object.errors[:current_password].empty? ? '' : 'error' %>">
    <div class="input-prepend">
      <%= f.label :password_confirmation, :class => "control-label" do %>
        <span class="add-on">パスワード(確認用)</span>
      <% end%>
      <%= f.password_field :password_confirmation, :placeholder => "パスワード(確認用)" %>
    </div>
  </div>

  <div class="field control-group <%= f.object.errors[:current_password].empty? ? '' : 'error' %>">
    <div class="input-prepend">
      <%= f.label :current_password, :class => "control-label" do %>
        <span class="add-on">現在のパスワード</span>
      <% end%>
      <%= f.password_field :current_password, :placeholder => "現在のパスワード(パスワード変更時に入力してください)" %>
    </div>
  </div>

  <div><%= f.select :use_fix_handle_name, {'固定ハンドルネームを利用する' => true , '固定ハンドルネームを利用しない' => false}, :id =>'user_current_password'  %></div><br/>

  <div><%= f.submit "更新する", class: "btn btn-primary btn-large" %></div>
<% end %>


<%= link_to "戻る", :back %>
</div>
