<% content_for :sub_title do %>アカウント新規登録<% end %>
<div id="login-box" class="clearfix">
  <div class="clearfix login-body">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="normal-login">
      <div class="field control-group clearfix">
        <div class="controls pull-right">
          <%= f.text_field :name, :autofocus => true, placeholder: "名前" %>
        </div>
      </div>
      <div class="field control-group clearfix">
        <div class="controls pull-right">
          <%= f.email_field :email, :autofocus => true, placeholder: "Eメール" %>
        </div>
      </div>
      <div class="field control-group clearfix">
        <div class="controls pull-right">
        <%= f.password_field :password, :autofocus => true, placeholder: "パスワード" %>
        </div>
      </div>
      <div class="field control-group clearfix">
        <div class="controls pull-right">
        <%= f.password_field :password, :autofocus => true, placeholder: "パスワード(確認用)" %>
        </div>
      </div>
    </div>
    <div class="social-login">
      <ul class="unstyled">
        <li><span class="label"><strong>ソーシャルログイン</strong></span></li>
        <li><%= link_to "twitter", user_omniauth_authorize_path(:twitter), class: "btn" %></li>
        <li><%= link_to "facebook", user_omniauth_authorize_path(:facebook), class: "btn" %></li>
        <li><%= link_to "google", user_omniauth_authorize_path(:google_oauth2), class: "btn" %></li>
      </ul>
    </div>
  </div>
  <hr/>
  <div class="field control-group clearfix login-footer">
    <div class="controls">
      <%= f.submit "アカウント登録", class: "btn btn-primary btn-large" %>
    </div>
  </div>
  <% end %>
<%= link_to "戻る", :back %>
</div>

