<div class="modal hide fade add-condition-dialog">
  <%= form_tag '#', class: "form-vertical" do -%>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>条件追加</h3>
    </div>
    <div class="modal-body">
      <ul>
        <li>条件を絞りたい部分だけ入力してください。</li>
        <li>それぞれの条件はOR条件です。</li>
        <li>AND条件はこれとは別の条件を追加してください。</li>
      </ul>
      <div class="field control-group clearfix well well-small">
        <%= label_tag 'good-gte', :class => "control-label" do %>
          <span class="add-on">ｲｲﾈ!</span>
        <% end%>
        <div class="clearfix">
          <div class="condition pull-left">
            <%= number_field_tag "good-gte", "", placeholder: "" %>
          </div>
          <div class="condition pull-left">〜</div>
          <div class="condition pull-left">
            <%= number_field_tag "good-lte", "", placeholder: "" %>
          </div>
        </div>
      </div>
      <div class="field control-group clearfix well well-small">
        <%= label_tag 'bad-gte', :class => "control-label" do %>
          <span class="add-on">ｲｸﾅｲ!</span>
        <% end%>
        <div class="clearfix">
          <div class="condition pull-left">
            <%= number_field_tag "bad-gte", "", placeholder: "" %>
          </div>
        <div class="condition pull-left">〜</div>
          <div class="condition pull-left">
            <%= number_field_tag "bad-lte", "", placeholder: "" %>
          </div>
        </div>
      </div>
      <div class="field control-group clearfix well well-small">
        <%= label_tag 'hash_id-in', :class => "control-label" do %>
          <span class="add-on">ID</span>
        <% end%>
        <div class="condition pull-left">
          <%= select_tag "hash_id-in",
                options_from_collection_for_select(summary.board.hash_id_maps, :hash_id, :hash_id),
                include_blank: true, multiple: true, class: "multiselectable", style: "width:460px" %>
          <span class="add-on">
          </span>
        </div>
      </div>
      <div class="field control-group clearfix well well-small">
        <%= label_tag 'tag-in', :class => "control-label" do %>
          <span class="add-on">タグ</span>
        <% end%>
        <div class="condition pull-left">
          <%= select_tag "tag-in",
                options_from_collection_for_select(tags, :name, :name),
                include_blank: true, multiple: true, class: "multiselectable", style: "width:460px" %>
          <span class="add-on">
          </span>
        </div>
      </div>
      <div class="field control-group clearfix well well-small">
        <%= label_tag 'created_at-gte', :class => "control-label" do %>
          <span class="add-on">投稿日時</span>
        <% end%>
        <div class="condition input-append pull-left datetimepicker">
          <%= text_field_tag "created_at-gte", "", placeholder: "", class: "" %>
          <span class="add-on">
            <i></i>
          </span>
        </div>
        <div class="condition pull-left">〜</div>
        <div class="condition input-append pull-left datetimepicker">
          <%= text_field_tag "created_at-lte", "", placeholder: "", class: "" %>
          <span class="add-on">
            <i></i>
          </span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn add-condition-cancel">キャンセル</a>
      <a href="#" class="btn btn-primary add-condition-submit">追加</a>
    </div>
  <% end -%>
</div>

