<% if tags.any? %>
  <strong class="pull-left">タグ:</strong>
  <div class="clearfix pull-left comment-tag-list">
    <% tags.each do |tag| %>
    <div class='btn-group pull-left'>
      <%= button_tag "#", class: "btn btn-inverse btn-mini" do %>
        <i class='icon-tag icon-white'></i> <strong><%= tag.name %></strong>
      <% end %>
    </div>
    <% end %>
  </div>
<% end %>

