<div id='comment-<%= item.comment.id %>' 
  class='comment clearfix well'
  data-hash-id='<%= item.comment.hash_id %>'>
  <div class='clearfix comment-header'>
    <div class="btn btn-primary">
      <strong class="comment-num"><%= item.comment.num %></strong>
    </div>
    <span class="comment-name"><strong>名前:</strong>
      <span ><%= item.comment.name %></span>
    </span>
    <div class="clearfix pull-right">
      <span class="comment-posted-at"><strong>投稿:</strong>
        <%=l item.comment.created_at %>
      </span>&nbsp;
      <span><strong>ID:</strong>
        <%= hash_id_html item.comment, hash_id_map %>
      </span>
    </div>
    <div class='clearfix comment-tags'>
      <%= render partial: "summaries/comment_tag", locals: {tags: item.comment.tags} %>
    </div>
  </div>
  <div class="clearfix comment-body" style="<%= decoration_to_style item.decoration %>">
    <%= html_body item.comment %>
  </div>
  <div class="comment-websites clearfix">
    <%= render partial: 'websites/thumb', collection: item.comment.websites, as: :website %>
  </div>
  <div class="comment-images clearfix">
    <%= render partial: 'images/thumb', collection: item.comment.images, as: :image %>
  </div>
  <div class="comment-movies clearfix">
    <%= render partial: 'movies/thumb', collection: item.comment.movies, as: :movie %>
  </div>
  <div class="clearfix pull-right comment-footer">
    <div class="label label-info label-small">
      <i class='icon-thumbs-up icon-white'></i> ｲｲﾈ!
      <span class="badge badge-info"><%= item.comment.good %></span>
    </div>
    <div class="label label-important label-small">
      <i class='icon-thumbs-down icon-white'></i> ｲｸﾅｲ!
      <span class="badge badge-important"><%= item.comment.bad %></span>
    </div>
  </div>
  <br/>
</div>
<% if  item.decoration.comment.to_s.length > 0 %>
<div class='well well-small popover bottom comment-comment' style="display:block;">
  <div class='arrow'></div>
  <p>
    <%= raw item.decoration.comment.gsub(/\r\n|\n/, "<br/>") %>
  </p>
</div>
<% end %>


