<div id='comment-<%= item.comment.id %>' 
  class='comment clearfix well'
  data-hash-id='<%= item.comment.hash_id %>'>
  <%= hidden_field_tag "summary[items][#{item.comment.num}][comment_id]", item.comment.id %>
  <div class="navbar">
    <div class="navbar-inner">
    <div class="navbar-form">
      <div class="input-prepend pull-left input-append">
        <span class="add-on"><i class="icon-font"></i></span>
        <%= select_tag "summary[items][#{item.comment.num}][decoration][size]",
              options_for_select(Summary::FontSizes, selected:  item.decoration.size),
              class: "input-mini comment-fontsize", style: "margin-top:0px;" %>
        <%= link_to "#", :class => 'comment-color add-on',
              "data-color-format" => "hex", "data-color" =>  item.decoration.color,
              title: "フォントカラー" do  %>
          <div class="color-icon" style="background-color:<%= item.decoration.color %>"></div>
          <%= hidden_field_tag "summary[items][#{item.comment.num}][decoration][color]", item.decoration.color %>
        <% end %>
      </div>
      <div class="btn-toolbar pull-left" style="margin:0 0 0 10px;">
        <div class="btn-group">
          <%= link_to "#", :class => "btn comment-bold #{item.decoration.bold.to_s == "true" ? "active" : ""}", title: "太字" do  %>
            <i class='icon-bold'></i>
            <%= hidden_field_tag "summary[items][#{item.comment.num}][decoration][bold]",  item.decoration.bold %>
          <% end %>
          <%= link_to "#", :class => "btn comment-italic #{item.decoration.italic.to_s == "true" ? "active" : ""}", title: "斜字" do  %>
            <i class='icon-italic'></i>
            <%= hidden_field_tag "summary[items][#{item.comment.num}][decoration][italic]",  item.decoration.italic %>
          <% end %>
          <%= link_to "#", :class => "btn comment-res #{item.decoration.comment.to_s.length > 0 ? "active" : ""}", title: "コメント" do  %>
            <i class='icon-comment'></i>
          <% end %>
        </div>
      </div>
      <div class="pull-right">
        <%= link_to "#", :class => 'btn remove-res', title: "除外する" do  %>
          <i class='icon-remove'></i> 
        <% end %>
      </div>      
    </div>
    </div>
  </div>
  <div class='clearfix comment-header'>
    <div class="btn btn-primary">
      <strong class="comment-num"><%= item.comment.num %></strong>
    </div>
    <span class="comment-name"><strong>名前:</strong>
      <span ><%= item.comment.name %></span>
    </span>
    <div class="clearfix pull-right">
      <span class="comment-posted-at"><strong>投稿:</strong>
        <%=l item.comment.created_at %>
      </span>&nbsp;
      <span><strong>ID:</strong>
        <%= hash_id_html item.comment, hash_id_map %>
      </span>
    </div>
    <div class='clearfix comment-tags'>
      <%= render partial: "summaries/tag", locals: {tags: item.comment.tags} %>
    </div>
  </div>
  <div class="clearfix comment-body" style="<%= decoration_to_style item.decoration %>">
    <%= html_body item.comment %>
  </div>
  <div class="comment-websites clearfix">
    <%= render partial: 'websites/thumb', collection: item.comment.websites, as: :website %>
  </div>
  <div class="comment-images clearfix">
    <%= render partial: 'images/thumb', collection: item.comment.images, as: :image %>
  </div>
  <div class="comment-movies clearfix">
    <%= render partial: 'movies/thumb', collection: item.comment.movies, as: :movie %>
  </div>
  <div class="clearfix pull-right comment-footer">
    <div class="label label-info label-small">
      <i class='icon-thumbs-up icon-white'></i> ｲｲﾈ!
      <span class="badge badge-info"><%= item.comment.good %></span>
    </div>
    <div class="label label-important label-small">
      <i class='icon-thumbs-down icon-white'></i> ｲｸﾅｲ!
      <span class="badge badge-important"><%= item.comment.bad %></span>
    </div>
  </div>
  <br/>
</div>
<div class='well well-small popover bottom comment-comment' style="<%= item.decoration.comment.to_s.length > 0 ? "display:block;" : "display:none;" %>">
  <div class='arrow'></div>
  <%= text_area_tag "summary[items][#{item.comment.num}][decoration][comment]", item.decoration.comment %>
</div>

