<div id='summary-form' class="well summary-content">
  <div class="content-header" style="margin-bottom:5px">
    <h3>まとめ新規作成</h3>
  </div>
  <div class="content-body">
  <%= form_for summary, :html => {id: 'post-form', :class => "form-horizontal"} do |f| %>
    <%= render partial: 'shared/errors', object: f.object.errors %>
    <div class="field control-group <%= f.object.errors[:title].empty? ? '' : 'error' %>">
      <div class="input-prepend">
        <%= f.label :title, :class => "control-label" do %>
          <span class="add-on">タイトル</span>
        <% end%>
        <%= f.text_field :title, :placeholder => "タイトル(1〜255文字)" %>
      </div>
    </div>
    <div class="field control-group <%= f.object.errors[:tag_list].empty? ? '' : 'error' %>">
      <div class="input-prepend">
        <%= f.label :tag_list, :class => "control-label" do %>
          <span class="add-on">タグ</span>
        <% end%>
        <%= f.text_field :tag_list, :placeholder => "タグ（複数タグを指定する場合は「,」で区切ってください。）" %>
      </div>
    </div>
    <div class="field control-group <%= f.object.errors[:title].empty? ? '' : 'error' %>">
      <div class="input-prepend">
        <%= f.label :description, :class => "control-label" do %>
          <div class="add-on" style="height:120px;">概要</div>
        <% end%>
        <%= f.text_area :description, placeholder: "概要(1〜1023文字)", :style => "height:120px;width:700px;" %>
      </div>
    </div>
    <div class="well well-small">
      <h4>レス抽出条件</h4>
      <%= link_to "#", :class =>'btn btn-small add-cond-btn' do %>
        <i class='icon-cog'></i> <strong>条件追加</strong>
      <% end %>
      <%= link_to "#", :class =>'btn btn-small reload-btn' do %>
        <i class='icon-refresh'></i> <strong>コメント抽出(入替)</strong>
      <% end %>
      <%= link_to "#", :class =>'btn btn-small reload-add-btn' do %>
        <i class='icon-refresh'></i> <strong>コメント抽出(追加)</strong>
      <% end %>
      <ul class="nav nav-tabs">
      </ul>
      <div class="condition-list tab-content">
      </div>
    </div>
    <div class="well well-small">
      <h4>プレビュー</h4>
      <div id="preview">
        <%= render 'edit_list', items: summary.embed_items , hash_id_map: hash_id_map %>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <div id="publish-switch" class="switch clearfix" data-on-label="公開" data-off-label="非公開" data-on="primary" data-off="danger">
      <%= f.check_box :publish %>
    </div>
    <div class="clearfix">
      <%= f.hidden_field :board_id %>
      <%= f.submit "まとめを保存する", :class => "btn btn-large btn-primary" %>
    </div>
  </div>
  <% end %>
  <%= render 'add_condition_dialog', summary: summary, tags: tags %>
</div>

