<div class="summary span3 well well-small">
  <div class="total">
    <span class="badge res-count" title="表示回数">
      <i class="icon-eye-open icon-white"></i>
      <strong><%= summary.refered_count %></strong> views
    </span>
    <span class="badge favorites-count" title="お気に入り登録数">
      <i class='icon-heart icon-white'></i>
      <strong><%= summary.favorites.count %></strong>
    </span>
  </div>
  <h4 class="title">
    <%= link_to summary.title.to_s.cut(50), summary, title:  summary.title  %>
  </h4>
  <%= link_to summary_path(summary), class: :thumbnail do %>
    <%= image_tag thumbnail_path(summary.thumbnail) %>
  <% end %>
  <p class='first-comment'>
    <%= summary.description.to_s.cut(290) %>
  </p>
  <div class='tag-list'>
    <%= tag_list summary.tags %>
  </div>
</div>

