<% content_for :subtitle, "- まとめ - #{@category.nil? ? "総合" : @category.name}" %>
<% content_for :keywords,
"まとめ,#{@category.nil? ? "総合" : @category.nested_names.join(",")}#{@tag.nil? ? "" : ",#{@tag.name}"}" 
%>
<% content_for :description, 
"まとめ＠ちゃんねるのカテゴリ「#{@category.nil? ? "総合" : @category.nested_name}」の#{@tag.nil? ? "" : "タグ「#{@tag.name}」を含む"}まとめ一覧です。"
-%>
<div class="container-fluid">
  <div class="row-fluid">
    <%= render "side_menu", :categories => @categories, :selected => @category %>
    <div class="span9">
      <div id='category-header'>
        <h3>まとめ - <%= @category.name rescue "総合" %></h3>
        <div id='category-navi'>
          <%= summary_category_navi(@category) %>
        </div>
      </div> 
      <hr style="clear:both;">
      <% @summaries.each_with_index do |summary,i| %>
      <% if i%3 == 0 %>
      <div class="row-fluid">
      <% end %>
        <div class="thread-container span4 well">
          <div class="thread-content">
            <div class="total">
              <span class="badge res-count" title="ビュー数">
                <i class='icon-eye-open icon-white'></i>
                <strong><%= summary.refered_count %></strong>
              </span>
              <span class="badge favorites-count" title="お気に入り登録数">
                <i class='icon-heart icon-white'></i>
                <strong><%= summary.favorites.count %></strong>
              </span>
            </div>
            <h4 class="title">
              <%= link_to summary.title.to_s.cut(50), summary, title:  summary.title  %>
            </h4>
            <%= link_to summary_path(summary), class: :thumbnail do %>
              <%= image_tag thumbnail_path(summary.thumbnail) %>
            <% end %>
            <p class='first-comment'>
              <%= summary.description.to_s.cut(290) %>
            </p>
            <div class='tag-list'>
              <%= tag_list summary.tags, @category %>
            </div>
          </div>
        </div>
      <% if i%3 == 2 || (@summaries.length-1) == i%>
      </div>
      <% end %>
      <% end %>
      <hr>
    </div>
    <div align="center">
    <%= paginate @summaries %>
    </div>
  </div>
</div>
