<% content_for :social_js do %>
<div id="fb-root"></div>
<script type="text/javascript">
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=144962175689914";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
  window.___gcfg = {lang: 'ja'};
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<% end %>
<% content_for :content_head do %>
<div class="content-header navbar navbar-static-top summary-header" style="margin-top:-20px;margin-bottom:10px;">
  <div class="navbar-inner" class="clearfix" style="padding-bottom:0">
    <div class="container">
      <div class="span8" style="margin-left:10px;">
        <div class="refered-board">
          <%= link_to @summary.board.title, board_path(@summary.board) %>スレより
        </div>
        <div class="summary-title clearfix">
          <h1 class="pull-left"><%= @summary.title %></h1>
        </div>
        <div id="summary-category" class="clearfix">
          <strong class="pull-left">カテゴリ：</strong>
          <div class="pull-left"><%= summary_category_navi @summary.category, true %></div>
        </div>
        <div id="summary-tags" class='clearfix'>
          <%= render partial: "summaries/tag", locals: {tags: @summary.tags} %>
        </div>
        <p class="summary-description">
          <%= raw @summary.description.cut(90, '<a href="#" class="disp-desc">(全て読む)</a>') %>
        </p>
        <p class="summary-all-description" style="display:none;">
          <%= raw @summary.description.gsub(/\n|\r\n/,"<br/>") %>
        </p>
      </div>
      <div class="summary-tools clearfix span4 pull-right">
        <div class="social-buttons pull-right clearfix">
          <div class="fb-like" data-send="false" data-layout="box_count" data-width="120" data-show-faces="true" data-font="arial"></div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-count="vertical">ツイート</a>
          <div class="g-plusone" data-size="tall"></div>
          <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
        </div>
        <div style="text-align:right;">
          <div class="label label-warning info-label">
            <i class="icon-eye-open icon-white"></i>
            <strong><%= @summary.refered_count %></strong> views
          </div>
          <div class="label label-warning info-label">
            <i class="icon-heart icon-white"></i>
            <strong><%= @summary.favorites.count %></strong> 人
          </div>
          <br/>
          <% if user_signed_in?  %>
            <% if current_user.mine?(@summary) %>
              <%= link_to '編集', edit_summary_path(@summary), class: "btn" %>
            <% end %>
            <% favorite = current_user.favorite?(@summary) %>
            <%= link_to "#", :class => "summary-favorite btn #{favorite ? "active" : ""}", "data-id" => favorite.try(:id) do %>
              <i class='icon-heart'></i> お気に入り
            <% end%>
          <% else %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="summary-content">
  <%= hidden_field_tag :summary_id, @summary.id%>
  <div class="content-body clearfix">
    <%= render 'comment_list', :summary => @summary, :hash_id_map => @hash_id_map %>
  </div>
</div>
