<h1><%= @user.name %>さんのお気に入り一覧</h1>
<hr>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#boards-favorites" data-toggle="tab">スレッド</a></li>
  <li><%= link_to "まとめ", summaries_favorites_path %></li>
</ul>

<div class="clearfix tab-content">
  <div class="boards" class="tab-pane active" style="margin-left:15px;">
    <%= render partial: "boards/board", collection: @favorites.map(&:board), as: :board %>
  </div>
</div>
<hr>
<div align="center">
<%= paginate @favorites %>
</div>

