<h1><%= @user.name %>さんのお気に入り一覧</h1>
<hr>
<div class="clearfix">
<% @favorites.map(&:board).each do |board| %>
  <div class="thread-container span3 well" style="margin-left:15px;">
    <div class="thread-content">
      <div class="total">
        <span class="badge board-score" title="スコア">
          <i class='icon-star icon-white'></i>
          <strong><%= board.score %></strong>
        </span>
        <span class="badge res-count" title="レス数">
          <i class='icon-pencil icon-white'></i>
          <strong><%= board.count %></strong>
        </span>
        <span class="badge favorites-count" title="お気に入り登録数">
          <i class='icon-heart icon-white'></i>
          <strong><%= board.favorites.count %></strong>
        </span>
      </div>
      <h4 class="title">
        <%= link_to board.title.to_s.cut(50), board, title:  board.title  %>
      </h4>
      <%= link_to board_path(board), class: :thumbnail do %>
        <%= image_tag thumbnail_path(board.thumbnail) %>
      <% end %>
      <p class='first-comment'>
        <%= board.first_comment.try(:body).to_s.cut(290) %>
      </p>
      <div class='tag-list'>
        <%= tag_list board.tags %>
      </div>
    </div>
  </div>
<% end %>
</div>
<hr>
<div align="center">
<%= paginate @favorites %>
</div>

