<div id="add-comment-tag-dialog" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>タグ追加</h3>
  </div>
  <div class="modal-body">
    <div class="field control-group">
      <div  class="controls">
        <%= text_field_tag :tag_list,"", :style => "width:95%",
              :placeholder => "タグ（複数タグを指定する場合は「,」で区切ってください。）" %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= hidden_field_tag :add_tag_target_id %>
    <a href="#" class="btn add-tag-cancel">キャンセル</a>
    <a href="#" class="btn btn-primary add-tag-post">追加</a>
  </div>
</div>

