<div id='comment-<%= comment.id %>' 
  class='comment clearfix well'
  data-hash-id='<%= comment.hash_id %>'
  data-type="<%= current_user.try(:ng?, comment) ? "ng" : "ok"%>">
<%= render partial: 'comments/ok_comment', locals:{comment: comment, hash_id_map: hash_id_map, valid_control: valid_control}%>
<%= render partial: 'comments/ng_comment', locals:{comment: comment, hash_id_map: hash_id_map, valid_control: valid_control}%>
</div>
