<div id='comment-form' class="modal hide fade">
  <%= form_for comment, :html => {:class => "form-horizontal"} do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>コメント</h3>
  </div>
  <div class="modal-body">
    <% if comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field control-group">
      <%= f.label :name, :class => "control-label" %>
      <%= f.text_field :name %>
    </div>
    <div class="field control-group">
      <%= f.label :body, :class => "control-label" %>
      <%= f.text_area :body, :rows => "8" %>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">キャンセル</a>
    <a href="#" class="btn btn-primary">投稿</a>
  </div>
  <% end %>
</div>

