<div id='comments-container' class='container tab-pane active'>
  <div id='comment-list'>
    <%= render partial: 'comments/comment', collection: comments, locals: {hash_id_map: hash_id_map, valid_control: true} %>
  </div>
  <% if comments.any? && comments.last.num > 1 %>
  <div id="comment-pagination" class="well" style="text-align:center">
    <%= link_to "続きを見る", comments_board_path(
      id: comments.last.board_id,
      num: "-#{comments.last.num-1}"
    ) %>
  </div>
  <% end %>
</div>

