<div class="comment-post-dialog">
  <%= form_for comment, :html => {:class => "form-vertical", :multipart => true} do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-plus"></i></button>
    <h3>レスを書き込む</h3>
  </div>
  <div class="modal-body">
    <ul id="comment-post-tabs" class="nav nav-tabs" style="margin-bottom:5px;">
      <li class="active"><a href="#comment-post-main" data-toggle="tab"><i class="icon-pencil icon-gray"></i>&nbsp;レス内容</a></li>
      <li><a href="#comment-post-files" data-toggle="tab"><i class="icon-picture icon-gray"></i>&nbsp;画像</a></li>
    </ul>
    <div class="tab-content" style="height:245px">
      <div class="tab-pane active" id="comment-post-main">
        <div class="field control-group">
          <div  class="controls">
            <%= f.text_field :name, :placeholder => "名前", :style => "width:95%" %>
          </div>
        </div>
        <div class="field control-group">
          <div  class="controls">
            <%= f.text_field :tag_list,
                  :placeholder => "タグ（複数タグを指定する場合は「,」で区切ってください。）",
                  :style => "width:95%" %>
          </div>
        </div>
        <div class="field control-group">
          <div  class="controls">
            <%= f.text_area :body, :rows => "8", :style => "width:95%" %>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="comment-post-files">
        <div class="row fileupload-buttonbar">
          <div class="span4">
            <span class="btn btn-inverse fileinput-button">
              <i class="icon-plus icon-white"></i>
              <span>ファイル追加</span>
              <input type="file" name="image[upload_file]" multiple>
            </span>
            <button class="btn cancel">
              <i class="icon-remove icon-gray"></i>
              <span>クリア</span>
            </button>
            <button class="btn btn-primary start" type="submit" style="display:none;">
              Up!
            </button>
            <span class="fileupload-loading"></span>
          </div>
        </div>
        <table role="presentation" class="table table-striped">
          <tbody id="file-previews" class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer fileupload-buttonbar">
    <%= f.hidden_field :board_id %>
    <a href="#" class="btn comment-clear cancel">
      <i class="icon-remove icon-gray"></i>
      <span>クリア</span>
    </a>
    <a href="#" class="btn btn-primary comment-post">
      <i class="icon-upload icon-white"></i>
      <span>投稿</span>
    </a>
  </div>
  <% end %>
</div>
