<div class="ng-comment">
  <div class='clearfix comment-header'>
    <% if valid_control %>
    <div class="btn-group dropdown">
      <%= button_tag :class =>'btn btn-danger btn-small dropdown-toggle', "data-toggle" => "dropdown" do %>
        <strong class="comment-num"><%= comment.num %></strong>
        <span class="caret"></span>
      <% end %>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "#", :class => 'delete-ng-list' do  %>
            <i class='icon-remove'></i> NGを解除する
          <% end %>
        </li>
      </ul>
    </div>
    <% else %>
    <div class="btn btn-primary">
      <strong class="comment-num"><%= comment.num %></strong>
    </div>
    <% end %>
    <span class="comment-name"><strong>名前:</strong>
      <span >あぼ〜ん</span>
    </span>
  </div>
  <p class="clearfix comment-body">
    あぼ〜ん
  </p>
  <br/>
</div>

