<div class="ok-comment">
  <div class='clearfix comment-header'>
    <% if valid_control %>
    <div class="btn-group dropdown">
      <%= button_tag :class =>'btn btn-primary btn-small dropdown-toggle', "data-toggle" =>"dropdown" do %>
        <strong class="comment-num"><%= comment.num %></strong>
        <span class="caret"></span>
      <% end %>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "#", :class => 'res-comment' do  %>
            <i class='icon-edit'></i> レスをする
          <% end %>
          <%= link_to "#", :class => 'qres-comment' do  %>
            <i class='icon-share'></i> 引用してレスをする
          <% end %>
          <%= link_to "#", :class => 'add-ng-list' do  %>
            <i class='icon-remove'></i> このIDをNG設定する
          <% end %>
          <%= link_to "#", :class => 'add-tag' do  %>
            <i class='icon-tags'></i> タグをつける
          <% end %>
        </li>
      </ul>
    </div>
    <% else %>
    <div class="btn btn-primary">
      <strong class="comment-num"><%= comment.num %></strong>
    </div>
    <% end %>
    <span class="comment-name"><strong>名前:</strong>
      <span ><%= comment.name %></span>
    </span>
    <div class="clearfix pull-right">
      <span class="comment-posted-at"><strong>投稿:</strong>
        <%=l comment.created_at %>
      </span>&nbsp;
      <span><strong>ID:</strong>
        <%= hash_id_html comment, hash_id_map, valid_control %>
      </span>
    </div>
    <div class='clearfix comment-tags'>
      <%= render partial: "comments/tag", locals: {tags: comment.tags} %>
    </div>
  </div>
  <div class="clearfix comment-body">
    <%= html_body comment %>
  </div>
  <div class="comment-raw-body">
    <%= comment.body %>
  </div>
  <div class="comment-websites clearfix">
    <%= render partial: 'websites/thumb', collection: comment.websites, as: :website %>
  </div>
  <div class="comment-images clearfix">
    <%= render partial: 'images/thumb', collection: comment.images, as: :image %>
  </div>
  <div class="comment-movies clearfix">
    <%= render partial: 'movies/thumb', collection: comment.movies, as: :movie %>
  </div>
  <% if valid_control %>
  <div class="clearfix pull-right comment-footer">
    <%= link_to '#', :class=> "btn btn-info btn-small post-comment-good#{current_user.try(:checked?, comment) ? ' disabled' : ''}" do %>
      <i class='icon-thumbs-up icon-white'></i> ｲｲﾈ!
      <span class="badge badge-info"><%= comment.good %></span>
    <% end %>
    <%= link_to '#', :class=> "btn btn-danger btn-small post-comment-bad#{current_user.try(:checked?, comment) ? ' disabled' : ''}" do %>
      <i class='icon-thumbs-down icon-white'></i> ｲｸﾅｲ!
      <span class="badge badge-important"><%= comment.bad %></span>
    <% end %>
  </div>
  <% else %>
  <div class="clearfix pull-right comment-footer">
    <div class="label label-info label-small">
      <i class='icon-thumbs-up icon-white'></i> ｲｲﾈ!
      <span class="badge badge-info"><%= comment.good %></span>
    </div>
    <div class="label label-important label-small">
      <i class='icon-thumbs-down icon-white'></i> ｲｸﾅｲ!
      <span class="badge badge-important"><%= comment.bad %></span>
    </div>
  </div>
  <% end %>
  <br/>
</div>

