<div id='movies-container' class='container tab-pane'>
  <ul id='movie-list' class="thumbnails">
    <%= render partial: 'movies/movie', collection: movies.map(&:movie) %>
  </ul>
  <% if movies.size >= BoardWebsite::COUNT_PER_PAGE %>
  <div id="movie-pagination" class="well" style="text-align:center">
    <%= link_to "続きを見る", movies_board_path(
      id: movies.last.board_id,
      num: "-#{movies.last.id}"
    ) %>
  </div>
  <% end %>
</div>

