<li class="movie span3" data-id="<%= movie.id %>" data-hash-ids="<%= movie.hash_ids.join(",") %>" data-type="ok">
  <div style="display:none" class="movie-object">
    <%= raw(movie.object_tag) %>
  </div>
  <div class="well ok-movie">
    <%= link_to "#", class: "thumbnail movie-link"  do %>
      <%= image_tag thumb_movie_path(movie) %>
    <% end %>
    <h4><%= link_to movie.title, "#", class: "movie-link" %></h4>
  </div>
  <div class="well ng-movie">
    <%= image_tag 'placeholder.png', class: "placeholder thumbnail" %>
    <h4>NGだよ！</h4>
  </div>
</li>

