<div class="clearfix movie-thumb pull-left">
  <div class="title">
    <%= link_to movie.title.cut(10), movie.url, title:  movie.title  %>
  </div>
  <%= link_to movie.url, class: "thumbnail", :target => "_BLANK" do %>
    <%= image_tag animation_movie_path(movie)  %>
  <% end %>
</div>
