<% content_for :sub_title do %>パスワードリセット<% end %>
<div class="clearfix devise-content">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name),
      :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  <%= render partial: 'shared/errors', object: f.object.errors %>

  <div class="field control-group <%= f.object.errors[:email].empty? ? '' : 'error' %>">
    <div class="input-prepend">
      <%= f.label :email, :class => "control-label" do %>
        <span class="add-on">Eメール</span>
      <% end%>
      <%= f.email_field :email, :placeholder => "メールアドレス" %>
    </div>
  </div>

  <div><%= f.submit "パスワードリセットの手順を送信", class: "btn btn-primary btn-large" %></div>
<% end %>
<%= link_to "戻る", :back %>

</div>
