<h1><%= current_user.name %>さんのスレ参照履歴</h1>
<hr>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#boards-histories" data-toggle="tab">スレッド</a></li>
  <li><%= link_to "まとめ", summaries_history_path %></li>
</ul>

<div class="clearfix tab-content">
  <div id="boards-histories" class="tab-pane active" style="margin-left:15px;">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>スレッドタイトル</td>
          <td>参照日時</td>
        </tr>
      </thead>
      <tbody>
      <% @boards.each do |board| %>
        <tr>
          <td>
          <%= link_to board_path(id: board["id"]) do %>
            <%= board["title"] %>
          <% end %>
          </td>
          <td>
            <%=l Time.zone.at(board["refered_at"].to_i) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div align="center">
  <%= paginate @boards %>
</div>


