<h1><%= current_user.name %>さんのレス一覧</h1>
<hr>
<div class="clearfix">
<% @comments.each do |comment| %>
  スレッド「<%= link_to comments_board_path(id: comment.board.id, num: "#{comment.num}-") do %>
    <%= comment.board.title %>
  <% end %>」より
  <%= render partial: "comments/comment", locals: {comment:comment, hash_id_map: nil, valid_control: false} %>
<% end %>
</div>
<hr>
<div align="center">
  <%= paginate @comments %>
</div>


