<h1><%= current_user.name %>さんのまとめ一覧</h1>
<hr>
<div class="clearfix">
  <%= render partial: "summaries/summary", collection: @summaries, as: :summary %>
</div>
<hr>
<div align="center">
<%= paginate @summaries %>
</div>

