<h1><%= current_user.name %>さんのまとめ参照履歴</h1>
<hr>
<ul class="nav nav-tabs" id="myTab">
  <li><%= link_to "スレッド", boards_history_path %></li>
  <li class="active"><a href="#summary-histories" data-toggle="tab">まとめ</a></li>
</ul>

<div class="clearfix tab-content">
  <div id="summary-histories" class="tab-pane active" style="margin-left:15px;">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>まとめタイトル</td>
          <td>参照日時</td>
        </tr>
      </thead>
      <tbody>
      <% @summaries.each do |summary| %>
        <tr>
          <td>
          <%= link_to summary_path(id: summary["id"]) do %>
            <%= summary["title"] %>
          <% end %>
          </td>
          <td>
            <%=l Time.zone.at(summary["refered_at"].to_i) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div align="center">
  <%= paginate @summaries %>
</div>



