<div class='observe_item add_board_tag clearfix'>
  <div class="header">
    <span class="label label-add-board-tag">スレッドタグ追加</span>
    <% board.tags.each do |t|%>
      <span class="badge badge-inverse"><i class="icon-tag icon-white"></i><%= t.name %></span>
    <% end %>
    <span class="title"><%= link_to board.title, board_path(board) %></span>
  </div>
  <div class="content">
    <%= render partial: "tags/comment", locals: {comment: board.first_comment} %>
  </div>
</div>


