<div id='comment-<%= comment.id %>' class='comment clearfix well well-small'>
  <div class='clearfix comment-header'>
    <div class="btn btn-primary">
      <strong class="comment-num"><%= comment.num %></strong>
    </div>
    <span class="comment-name"><strong>名前:</strong>
      <span ><%= comment.name %></span>
    </span>
    <div class="clearfix pull-right">
      <span class="comment-posted-at"><strong>投稿:</strong>
        <%=l comment.created_at %>
      </span>&nbsp;
      <span><strong>ID:</strong>
        <%= comment.hash_id %>
      </span>
    </div> 
    <div class='clearfix comment-tags'>
      <% if comment.tags.any? %>
      <strong class="pull-left">タグ:</strong>
      <div class="clearfix pull-left summary-tag-list">
        <% comment.tags.each do |tag| %>
        <div class='btn-group pull-left'>
          <%= link_to tag_summaries_path(tag), class: "btn btn-inverse btn-mini" do %>
            <i class='icon-tag icon-white'></i> <strong><%= tag.name %></strong>
          <% end %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="clearfix comment-body">
    <%= html_body comment %>
  </div>
  <div class="comment-websites clearfix">
    <%= render partial: 'websites/thumb', collection: comment.websites, as: :website %>
  </div>
  <div class="comment-images clearfix">
    <%= render partial: 'images/thumb', collection: comment.images, as: :image %>
  </div>
  <div class="comment-movies clearfix">
    <%= render partial: 'movies/thumb', collection: comment.movies, as: :movie %>
  </div>
  <div class="clearfix pull-right comment-footer">
    <div class="label label-info label-small">
      <i class='icon-thumbs-up icon-white'></i> ｲｲﾈ!
      <span class="badge badge-info"><%= comment.good %></span>
    </div>
    <div class="label label-important label-small">
      <i class='icon-thumbs-down icon-white'></i> ｲｸﾅｲ!
      <span class="badge badge-important"><%= comment.bad %></span>
    </div>
  </div>
  <br/>
</div>
