<div class='observe_item new_board clearfix'>
  <div class="header">
    <span class="label label-new-board">新規スレッド</span>
    <% board.tags.each do |t|%>
      <span class="badge badge-inverse"><i class="icon-tag icon-white"></i><%= t.name %></span>
    <% end %>
    <span class="title"><%= link_to board.title, board_path(board) %></span>
  </div>
  <div class="content">
    <%= render partial: "tags/comment", locals: {comment: board.first_comment} %>
  </div>
</div>

