<div class='observe_item new_comment clearfix'>
  <div class="header">
    <span class="label label-new-comment">新規コメント</span>
    <% comment.board.tags.each do |t|%>
      <span class="badge badge-inverse"><i class="icon-tag icon-white"></i><%= t.name %></span>
    <% end %> 
    <span class="title"><%= link_to comment.board.title, board_path(comment.board) %></span>
  </div>
  <div class="content">
    <%= render partial: "tags/comment", locals: {comment: comment} %>
  </div>
</div>


