<form  class="form-search" action="<%= observe_tags_path %>" method="get">
  <div class="input-append">
    <input type="text" name="tag" class="span2 search-query" value="<%= tag %>">
    <button type="submit" class="btn">タグ検索</button>
  </div>
</form>
