<div class='summary-notify clearfix well well-small'>
  <div class='clearfix comment-header'>
  </div>
  <div class="clearfix comment-body">
    <%= raw summary.description.gsub(/\r\n|\n/m, "<br/>") %>
  </div>
  <br/>
</div>

