<div class='observe_item new_board clearfix'>
  <div class="header">
    <span class="label label-update-summary">まとめ更新</span>
    <% summary.tags.each do |t|%>
      <span class="badge badge-inverse"><i class="icon-tag icon-white"></i><%= t.name %></span>
    <% end %> 
    <span class="title"><%= link_to summary.title, summary_path(summary) %></span>
  </div>
  <div class="content">
    <%= render partial: "tags/summary_notify", locals: {summary: summary} %>
  </div>
</div>


