<% content_for :content_head do %>
<div class="content-header navbar navbar-static-top" style="margin-top:-20px;margin-bottom:10px;">
  <div class="navbar-inner" class="clearfix" style="padding-bottom:0">
    <div class="container">
      <div class="tag-observer-header">
        <h1><%= @tag_name %>の検索結果</h1>
        <div class="pull-right">
          <%= render partial: "tags/search", locals: {tag: @tag_name } %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<div id="recv_items" class="container">
<% if @error %>
  <div class="alert alert-error alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= @error %>
  </div> 
<% else %>
  <%= hidden_field_tag :summary_tag_id, @summary_tag.id %>
  <%= hidden_field_tag :comment_tag_id, @comment_tag.id %>
  <%= hidden_field_tag :board_tag_id, @board_tag.id %>
<% end %> 
<% @items.each do |item|%>
  <% case item %>
  <% when Comment %>
    <%= render partial: "tags/new_comment", locals: {comment: item }%>
  <% when Board %>
    <%= render partial: "tags/new_board", locals: {board: item }%>
  <% when Summary %>
    <%= render partial: "tags/new_summary", locals: {summary: item }%>
  <% end %>
<% end %>
</div>
