<% content_for :content_head do %>
<div class="content-header navbar navbar-static-top" style="margin-top:-20px;margin-bottom:10px;">
  <div class="navbar-inner" class="clearfix" style="padding-bottom:0">
    <div class="container">
      <h3>タグ一覧</h3>
      <ul id="summary-tab" class="nav nav-tabs" style="width:100%">
        <li>
          <%= link_to "スレッド", board_tags_path %>
        </li>
        <li class='active'>
          <%= link_to "まとめ", "#" %>
        </li>
        <div class="pull-right">
          <div class="btn-group">
            <button class="btn">並び順</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to '新着順', summary_tags_path(type: @type) %>
              </li>
              <li>
                <%= link_to '人気順', summary_tags_path(sort: :use, type: @type) %>
              </li>
            </ul>
          </div>
          <%= link_to "タグを監視する。", observe_tags_path, class: "btn btn-primary" %>
        </div>
      </ul>
    </div>
  </div>
</div>
<% end %>
<div class="container">
<% if @tags.present? %>
  <ul class="thumbnails">
    <% @tags.each do |tag| %>
      <li class="">
        <span class="summary-tag btn btn-inverse btn-large" data-url="<%= tag_summaries_path(tag) %>">
          <i class="icon-tag icon-white"></i>
          <strong class="title"><%= tag.name %> (<%= tag.used_count %>)</strong>
        </span>
        <div class="popover-content" style="display:none;">
          <h4>人気のまとめ</h4>
          <% if tag.summary_ids.size > 0 %>
            <% tag.popular_summaries.each do |summary| %>
            <div class="thread-content well well-small span2">
              <div class="total">
                <span class="badge summary-score" title="ビュー数">
                  <i class='icon-eye-open icon-white'></i>
                  <strong><%= summary.refered_count %></strong>
                </span>
                <span class="badge favorites-count" title="お気に入り登録数">
                  <i class='icon-heart icon-white'></i>
                  <strong><%= summary.favorites.count %></strong>
                </span>
              </div>
              <h4 class="title">
                <%= link_to summary.title.to_s.cut(50), summary, title:  summary.title  %>
              </h4>
              <%= link_to summary_path(summary), class: :thumbnail do %>
                <%= image_tag thumbnail_path(summary.thumbnail) %>
              <% end %>
            </div>
            <% end %>
          <% else %>
            スレッドがありません。
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <div align="center">
    <%= paginate @tags %>
  </div>
<% else %>
  タグが存在しません。
<% end %>
</div>

