<%# Link to the "Next" page
  - available local variables
    url:           url to the next page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<li class="next<%= current_page.last? ? " disabled" : "" %>">
  <%= link_to raw(t 'views.pagination.next'),
      current_page.last? ? "#" : url,
      :rel => 'next',
      :remote => remote %>
</li>
