<% content_for :sub_title do %>ログイン<% end %>
<div id="login-box" class="clearfix">
  <div class="clearfix login-body">
  <%= form_for(resource, :as => resource_name, url: session_path(resource_name), class: "form-horizontal") do |f| %>
    <div class="normal-login">
      <div class="field control-group clearfix">
        <div class="controls pull-right">
          <%= f.email_field :email, :autofocus => true, placeholder: "Eメールアドレス" %>
        </div>
      </div>
      <div class="field control-group clearfix">
        <div class="controls pull-right">
        <%= f.password_field :password, :autofocus => true, placeholder: "パスワード" %>
        </div>
      </div>
      <div class="field control-group clearfix pull-right">
        <div class="controls pull-left" style="margin-right:15px;width:200px;text-align:right;">
          <%= f.label :remember_me, class: "checkbox" do %>
            <%= f.check_box :remember_me %>ログイン状態を保持する。
          <% end %>
        </div>
        <div class="controls pull-right">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
        <br class="clearfix"/>
      </div>
      <br class="clearfix"/>
      <div class="field control-group clearfix" style="margin-top:15px;">
        <div class="controls pull-right">
          <%= link_to "パスワードをお忘れの方はこちら。", new_password_path(resource_name), class: "pull-right" %>
        </div>
      </div>
    </div>
    <div class="social-login">
      <ul class="unstyled">
        <li><span class="label"><strong>ソーシャルログイン</strong></span></li>
        <li><%= link_to "twitter", user_omniauth_authorize_path(:twitter), class: "btn" %></li>
        <li><%= link_to "facebook", user_omniauth_authorize_path(:facebook), class: "btn" %></li>
        <li><%= link_to "google", user_omniauth_authorize_path(:google_oauth2), class: "btn" %></li>
      </ul>
    </div>
  <% end %>
  </div>
  <hr/>
  <div class="clearfix login-footer">
    <%= link_to "新規登録(無料)", new_registration_path(resource_name), class: "btn btn-large btn-primary" %>
  </div>
</div>

