<div id='board-form' class="well">
  <div class="modal-header" style="margin-bottom:5px">
    <h3>スレッド新規作成</h3>
  </div>
  <div>
  <%= form_for board, :html => {:class => "form-horizontal"} do |f| %>
    <%= render partial: 'shared/errors', object: f.object.errors %>
    <div class="field control-group <%= f.object.errors[:title].empty? ? '' : 'error' %>">
      <div class="input-prepend">
        <%= f.label :title, :class => "control-label" do %>
          <span class="add-on">タイトル</span>
        <% end%>
        <%= f.text_field :title, :placeholder => "タイトル" %>
      </div>
    </div>
    <div class="field control-group <%= f.object.errors[:tag_list].empty? ? '' : 'error' %>">
      <div class="input-prepend">
        <%= f.label :tag_list, :class => "control-label" do %>
          <span class="add-on">タグ</span>
        <% end %>
        <%= f.text_field :tag_list, :placeholder => "タグ（複数タグを指定する場合は「,」で区切ってください。）" %>
      </div>
    </div>
    <div class="field control-group <%= f.object.errors[:name].empty? ? '' : 'error' %>">
      <div class="input-prepend">
        <%= f.label :category_id, :class => "control-label" do %>
          <span class="add-on">カテゴリ</span>
        <% end %>
        <%= f.collection_select :category_id, Category.all, :id, :nested_name, :include_blank => "総合" %>
      </div>
    </div>
    <div class="well well-small">
      <div class="modal-header" style="margin-bottom:5px">
        <strong>スレッド設定</strong>
        <%= f.fields_for :configs do |config_f| %>
          <div class="field control-group">
            <div class="input-prepend">
              <%= config_f.label :value, class: "control-label"  do %>
                <span class="add-on"><%= config_f.object.name %></span>
              <% end %>
              <%= config_f.text_field :value, :placeholder => "名前" %>
              <%= config_f.hidden_field :key %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="well">
      <div class="modal-header" style="margin-bottom:5px">
        <strong>>>1</strong>
      </div>
      <%= f.fields_for :comments do |comment_f|%>
        <div class="field control-group <%= comment_f.object.errors[:name].empty? ? '' : 'error' %>">
          <%#= comment_f.label :name, :class => "control-label" %>
          <%= comment_f.text_field :name, :placeholder => "名前", :style => "width:99%", :value => current_user.fixed_handle_name %>
        </div>
        <div class="field control-group <%= comment_f.object.errors[:body].empty? ? '' : 'error' %>">
          <%#= comment_f.label :body, :class => "control-label" %>
          <%= comment_f.text_area :body, :placeholder => "レス内容", :rows => 8 , :style => "width:99%" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "スレッドを立てる", :class => "btn btn-large btn-primary" %>
  </div>
  <% end %>
</div>

