<div id="category-list" class="span3">
  <div class="well sidebar-nav">
    <% categories.each do |category|%>
    <ul class="nav nav-list">
      <li class="nav-header<%= category.id == selected.try(:id) ? " active" : "" %>">
        <%= link_to category.name, category_boards_path(category) %>
      </li>
      <ul class="nav nav-list">
      <% category.children.each do |child| %>
        <li class="<%= child.id == selected.try(:id) ? "active" : "" %>">
          <%= link_to child.name, category_boards_path(child) %>
          </a>
        </li>
      <% end %>
      </ul>
    </ul>
    <% end %>
  </div>
</div>

