<% content_for :subtitle, "- スレッド - #{@category.nil? ? "総合" : @category.name}" %>
<% content_for :keywords,
"スレッド,#{@category.nil? ? "総合" : @category.nested_names.join(",")}#{@tag.nil? ? "" : ",#{@tag.name}"}" 
%>
<% content_for :description, 
"まとめ＠ちゃんねるのカテゴリ「#{@category.nil? ? "総合" : @category.nested_name}」の#{@tag.nil? ? "" : "タグ「#{@tag.name}」を含む"}スレッド一覧です。"
-%>
<div class="container-fluid">
  <div class="row-fluid">
    <%= render "side_menu", :categories => @categories, :selected => @category %>
    <div class="span9">
      <div id='category-header'>
        <h3>スレッド - <%= @category.name rescue "総合" %></h3>
        <div id='category-navi'>
          <%= board_category_navi(@category) %>
        </div>
        <div id="category-tools" class="pull-right">
          <%= link_to @new_board_path, :class => 'new-board btn btn-primary' do %>
            <i class='icon-pencil icon-white'></i> スレッドを立てる
          <% end%>
        </div> 
      </div> 
      <hr style="clear:both;">
      <% @boards.each_with_index do |board,i| %>
      <% if i%3 == 0 %>
      <div class="row-fluid">
      <% end %>
        <div class="thread-container span4 well">
          <div class="thread-content">
            <div class="total">
              <span class="badge board-score" title="スコア">
                <i class='icon-star icon-white'></i>
                <strong><%= board.score %></strong>
              </span>
              <span class="badge res-count" title="レス数">
                <i class='icon-pencil icon-white'></i>
                <strong><%= board.count %></strong>
              </span>
              <span class="badge favorites-count" title="お気に入り登録数">
                <i class='icon-heart icon-white'></i>
                <strong><%= board.favorites.count %></strong>
              </span>
            </div>
            <h4 class="title">
              <%= link_to board.title.to_s.cut(50), board, title:  board.title  %>
            </h4>
            <%= link_to board_path(board), class: :thumbnail do %>
              <%= image_tag thumbnail_path(board.thumbnail) %>
            <% end %>
            <p class='first-comment'>
              <%= board.first_comment.try(:body).to_s.cut(290) %>
            </p>
            <div class='tag-list'>
              <%= tag_list board.tags, @category %>
            </div>
          </div>
        </div>
      <% if i%3 == 2 || (@boards.length-1) == i%>
      </div>
      <% end %>
      <% end %>
      <hr>
    </div>
    <div align="center">
    <%= paginate @boards %>
    </div>
  </div>
</div>


