<% content_for :social_js do %>
<div id="fb-root"></div>
<script type="text/javascript">
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=144962175689914";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
  window.___gcfg = {lang: 'ja'};
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
var ng_list = "<%=raw current_user.get_ng_list.to_json.gsub('"', '\"') %>";
</script>
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<% end %>
<% content_for :content_head do %>
<div class="content-header navbar navbar-static-top" style="margin-top:-20px;margin-bottom:10px;">
  <div class="navbar-inner" class="clearfix" style="padding-bottom:0">
    <div class="container">
    <div id="board-header" class="clearfix">
      <div class="social-buttons clearfix pull-right">
        <div class="fb-like" data-send="false" data-layout="box_count" data-width="120" data-show-faces="true" data-font="arial"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-count="vertical">ツイート</a>
        <div class="g-plusone" data-size="tall"></div>
        <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
      </div>
      <h1><%= @board.title %></h1>
      <div id="board-category" class="clearfix">
        <strong class="pull-left">カテゴリ：</strong>
        <div class="pull-left"><%= board_category_navi @board.category, true %></div>
      </div>
      <div id="board-tags" class='clearfix'>
        <%= render partial: "boards/tag", locals: {tags: @board.tags} %>
      </div>
      <%= hidden_field_tag 'board_id', @board.id %>
    </div>
    <ul id="board-tab" class="nav nav-tabs" style="width:100%">
      <li class='active'>
        <a href='#comments-container'>スレッド</a>
      </li>
      <li>
        <a href='#websites-container'>WEBサイト</a>
      </li>
      <li>
        <a href='#images-container'>画像</a>
      </li>
      <li>
        <a href='#movies-container'>動画</a>
      </li>
      <li>
        <div id="board-score" class="label label-info pull-left" title="スコア">
          <i class='icon-star icon-white'></i> <strong><%= @board.score %></strong>ポイント
        </div>
        <div id="referers-count" class="label label-info pull-left" title="閲覧人数">
          <i class='icon-user icon-white'></i> <strong><%= @board.observer_ids.length+1 %></strong>人
        </div>
        <div id="favorites-count" class="label label-info pull-left" title="お気に入り登録人数">
          <i class='icon-heart icon-white'></i> <strong><%= @board.favorites.count %></strong>人
        </div>
      </li>
      <div class="pull-right clearfix">
        <% if user_signed_in? %>
        <div id="board-toolbox" class="btn-group dropdown pull-right">
          <%= button_tag :class =>'btn btn-small dropdown-toggle', "data-toggle"=>"dropdown" do %>
            <i class='icon-cog'></i> <strong>Tools</strong>
            <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu">
              <li>
                <%= link_to "#", :class => 'add-board-tag' do %>
                  <i class='icon-tags'></i> タグをつける
                <% end%>
              </li>
              <% favorite = current_user.favorite?(@board) %>
              <li style="<%= favorite ? "display:none;" : "" %>">
                <%= link_to "#", :class => "regist-favorite" do %>
                  <i class='icon-heart'></i> お気に入り登録
                <% end%>
              </li>
              <li style="<%= favorite ? "" : "display:none;" %>">
                <%= link_to "#", :class => "unregist-favorite", "data-id" => favorite.try(:id) do %>
                  <i class='icon-heart'></i> お気に入り解除
                <% end%>
              </li>
              <li>
                <%= link_to new_summaries_path(board_id: @board.id), :class => 'create-summary', target: "_BLANK" do %>
                  <i class='icon-wrench'></i> まとめる
                <% end%>
              </li>
          </ul>
        </div>
        <% end %>
      </div>
    </ul>
    </div>
  </div>
</div>
<% end %>
<div class='tab-content'>
  <%= render 'comments/list', :comments => @comments, :hash_id_map => @hash_id_map %>
  <%= render 'websites/list', :websites => @websites %>
  <%= render 'images/list', :images => @images %>
  <%= render 'movies/list', :movies => @movies %>
<div>
<%= render 'comments/new_dialog', :comment => Comment.new{|c|c.board = @board} %>
<%= render 'movies/player_dialog' %>
<%= render 'boards/add_tag_dialog' %>
<%= render 'comments/add_tag_dialog' %>

<%= hidden_field_tag :fixed_handle_name, "#{current_user.fixed_handle_name}" %>

