# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/
class MessageParser
  @protocols:
    new_comment:
      method: (params) ->
        MessageParser.new_comment params
      params: ["html"]
    add_comment_tag:
      method: (params) ->
        MessageParser.add_comment_tag params
      params: ["html"]
    new_board:
      method: (params) ->
        MessageParser.new_board params
      params: ["html"]
    add_board_tag:
      method: (params) ->
        MessageParser.add_board_tag params
      params: ["html"]
    new_summary:
      method: (params) ->
        MessageParser.new_summary params
      params: ["html"]
    update_summary:
      method: (params) ->
        MessageParser.update_summary params
      params: ["html"]

  @dispatch: (json) ->
    try
      throw "argment is not object" unless typeof json == "object"
      throw "invalid type: #{json.type}" unless dispatcher = MessageParser.protocols[json.type]
      params = {}
      for param in dispatcher.params
        params[param] = json[param]
      dispatcher.method params
    catch e
      console.error e

  @new_comment: (params) ->
    $(params.html).hide().prependTo("#recv_items").fadeIn()

  @add_comment_tag: (params) ->
    $(params.html).hide().prependTo("#recv_items").fadeIn()

  @new_board: (params) ->
    $(params.html).hide().prependTo("#recv_items").fadeIn()

  @add_board_tag: (params) ->
    $(params.html).hide().prependTo("#recv_items").fadeIn()

  @new_summary: (params) ->
    $(params.html).hide().prependTo("#recv_items").fadeIn()
 
  @update_summary: (params) ->
    $(params.html).hide().prependTo("#recv_items").fadeIn()

class TagObserver
  constructor: (@board_tag_id, @comment_tag_id, @summary_tag_id) ->
    @ended = false
    @start()

  onError: (e) ->
    false

  onOpen: () ->
    if @retryTimer
      clearTimeout(@retryTimer)
      $("#reconnect-alert").remove()
      @retryTimer = undefined
    @sendObserveStart()

  onClose: () ->
    return if @ended
    @retryTimer = setTimeout () =>
      clearTimeout(@retryTimer) if @ended
      $("#reconnect-alert").remove()
      $("#tag-observer-header").append """
        <div id="reconnect-alert" class='alert'>
          <button type='button' class='close' data-dismiss='alert'>&times;</button>
          <img src='/assets/progress-icon.gif'>&nbsp;
          接続が切れました。再接続中…。
        </div>
      """
      @start()
    , 3000

  onMessage: (e) ->
    json = JSON.parse(e.data)
    MessageParser.dispatch json

  sendObserveStart: () ->
    data =
      type: "start_observe_tag"
      params:
        board_tag_id: @board_tag_id
        comment_tag_id: @comment_tag_id
        summary_tag_id: @summary_tag_id
    @ws.send JSON.stringify(data)

  start: () ->
    @ws = new WebSocket "ws://<%= "#{Settings.websocket.address}:#{Settings.websocket.port}" %>/ws"
    @ws.onerror = (e) =>
      @onError(e)
    @ws.onopen = () =>
      @onOpen()
    @ws.onmessage = (e) =>
      @onMessage(e)
    @ws.onclose = () =>
      @onClose()

  stop: () ->
    @ended = true

$ ->
  $(document).on "click", "li span.board-tag,span.summary-tag", () ->
    $(this).popover(
      html: true
      container: "body"
      placement: "bottom"
      title: ()->
        "<a href=\"#{$(this).attr("data-url")}\">#{$(this).find("strong.title").text()}</a>"
      content: () ->
        $(this).next().html()
    ).popover("show")
    popover = $("body > .popover:last")
    left = $(this).position().left
    width = $(window).width()-100
    width = 250 * $(this).next().find(".thread-content,summary-content").length
    width = 250 if width == 0
    width = 800 if width > 800
    popover.width(width)
    popover.css("top", "#{popover.position().top+10}px")
    arrow = popover.find(".arrow")
    parent_pop = $(this).parents(".popover")
    arrow_left = 20+($(this).width()/2)
    if (left + width) > $(window).width()
      pop_left = $(window).width()-width-20
      arrow_left = left-pop_left+($(this).width()/2)
      arrow_left += parent_pop.position().left if parent_pop.length > 0
    else
      pop_left = left-20
      pop_left = 20 if pop_left < 20
      arrow_left += parent_pop.position().left if parent_pop.length > 0
    popover.css("left", "#{pop_left}px")
    arrow.css("left", "#{arrow_left}px")
    false
  $(document).on 'click', 'body', () ->
    $("li span.board-tag,span.summary-tag").popover('destroy')
  return unless location.href.match(/\/tags\/observe/)
  tag_observer = new TagObserver $("#board_tag_id").val(), $("#comment_tag_id").val(), $("#summary_tag_id").val()

