/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-responsive
 *= require bootstrap-datetimepicker.min
 *= require colorpicker
 *= require bootstrapSwitch
 *= require select2
 *= require colorbox
 *= require jquery.fileupload-ui
 *= require_tree .
 */

#login-box{
  .normal-login{
    float: left;
    width: 50%;
    padding-right: 35px;
    border-right: 1px solid #fff;
    a{
      color: #666;
      font-size: 14px;
    }
  }
  .social-login{
    float: left;
    width: 180px;
    text-align: center;
    padding-left: 15px;
    ul{
      li{
        width: 90%;
        line-height: 20px;
        margin: 10px 15px;
        text-align: center;
        .label{
          padding: 5px 10px;
        }
        a{
          width: 70%;
        }
      }
    }
  }

  input[type=text]{
    width: 280px;
  }
  input[type=email]{
    width: 280px;
  }
  input[type=password]{
    width: 280px;
  }
  .login-footer{
    text-align: center;
  }
}

#signup-box{
  text-align: center;
  input[type=email]{
    width: 280px;
  }
  input[type=password]{
    width: 280px;
  }
}

.hero-unit{
  h1{
    strong{
      color: #666;
    }
  }
}

.devise-content{
  text-align: center;
  h1{
    text-align: center;
    padding-bottom: 30px;
    a{
      color: #666;
    }
  }
  .sub-title{
    color: #888;
    text-align: center;
    font-size: 18px;
  }

  .input-prepend{
    label{
      padding-top: 0px;
    }
    .add-on{
      width: 160px;
    }
    input{
      width: 400px;
    }
  }
}

#page-top {
  a{
    z-index: 10000;
    position: fixed;
    bottom: -10px;
    left: 10px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    background: #666;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: block;
    padding: 10px 15px;
    border: 2px solid #555;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  a:hover {
    bottom: -5px;
    text-decoration: none;
    background: #333;
    border: 2px solid #222;
  }
}

