#board-header{
  margin-bottom: 5px;
  .social-buttons{
    margin: 5px 5px 0 0;
  }
  #board-category{
    a{
      color:#777777;
      text-decoration: none;
      text-shadow: 0 1px 0 #FFFFFF;
    }
    a:hover{
      color:#333333;
      text-decoration: none;
    }
  }
  #board-tags{
    strong{
      padding-top: 4px;
      line-height: 20px;
    }
    .btn-group{
      margin-left: 5px;
    }
    button{
      line-height: 20px;
    }
  }
}
#board-score{
  margin-top: 10px;
  margin-left: 10px;
  padding: 4px 10px;
}
#referers-count{
  margin-top: 10px;
  margin-left: 5px;
  padding: 4px 10px;
}
#favorites-count{
  margin-top: 10px;
  margin-left: 5px;
  padding: 4px 10px;
}
#board-toolbox{
  margin-top: 10px;
}


#board-form{
  .input-prepend{
    label{
      padding-top: 0px;
    }
    .add-on{
      width: 130px;
    }
    input{
      width: 700px;
    }
    select{
      width: 700px;
    }
  }
}

