// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#category-header{
  width:100%;
}

#category-navi{
  float:left;
}

#category-tools{
  float:right;
  margin-bottom: 5px;
}

.thread-container{
  padding: 0;
  .thread-content{
    max-height: 400px;
    overflow: hidden;
    padding: 5px;
    .total{
      margin-bottom: 5px;
      .res-count{
        background-color:#F89406;
      }
      .board-score{
        background-color:#F89406;
      }
      .favorites-count{
        background-color:#F89406;
      }
    }

    .title{
      max-height: 40px;
      overflow: hidden;
      a{
        color: #777777;
      }
      a:hover{
        color: #333333;
      }
    }

    .tag-list{
      line-height: 25px;
      max-height: 52px;
      overflow: hidden;
      a{
        margin-right:2px;
      }
    }

    .first-comment{
      max-height: 72px;
      margin: 10px;
      font-size: 12px;
      font-family:"ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","メイリオ","Helvetica Neue",Helvetica,Arial,sans-serif;
      line-height: 12px;
      overflow: hidden;
    }

    .thumbnail{
      img{
        width: 260px;
        max-height: 195px; 
      }
    }
  }
}
