// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment{
  padding: 5px;
  .comment-header{
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
    strong{
      color: #333333;
    }
    strong.comment-num{
      color: #eeeeee;
    }
    .comment-name{
      color: green;
      font-weight: bold;

      strong{
      }
    }
    .comment-posted-at{
      color: #333333;
      strong{
      }
    }

    .comment-hash-id{
    }

    a.hissi-id{
      color: #EE5F5B;
    }

    .comment-tags{
      margin: 5px 10px;
      strong{
        padding-top: 4px;
        line-height: 20px;
      }
      .btn-group{
        margin-left: 5px;
        strong{
          color: #eeeeee;
        }
      }
      button{
        line-height: 20px;
      }
    }
  }

  .comment-body{
    color: #333333;
    margin: 5px 5px;
    font-family:"ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","メイリオ","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;

    .quote{
      display: block;
      position:relative;
      width: 95%;
      margin-top:-13px;
      z-index:990;
      padding: 20px;
      font-family:"ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","メイリオ","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size:14px;
      line-height:14px;
      top: 25px;

      .arrow{
        left: 20px;
      }
    }
  }

  .comment-raw-body{
    display:none;
  }

  .comment-websites{
    .website-thumb{
      img{
        width: 100px;
      }
    }
  }
  .comment-images{
    .image-thumb{
      img{
        width: 100px;
      }
    }
  }
  .comment-movies{
    .movie-thumb{
      img{
        width: 100px;
      }
    }
  }
  .comment-footer{
  }
  .popover{
    width: 800px;
  }
}

.comment[data-type=ok]{
  .ok-comment{
    display: block;
  }
  .ng-comment{
    display: none;
  }
}
.comment[data-type=ng]{
  .ok-comment{
    display: none;
  }
  .ng-comment{
    display: block;
  }
}



#comment_body{
  font-family:"ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","メイリオ","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.comment-post-dialog {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px 6px 6px 6px;
  top: none;
  left: none;
  right: -10px;
  bottom: -10px;
  height: 40px;
  outline: medium none;
  overflow: hidden;
  position: fixed;
  width: 200px;
  z-index: 1050;

  .modal-header{
    h3{
      font-size: 16px;
      line-height: 16px;
    }
  }
}

