// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image[data-type=ok]{
  a{
    display: block;
  }
  .placeholder{
    display: none;
  }
}
.image[data-type=ng]{
  a{
    display: none;
  }
  .placeholder{
    display: block;
  }
}


