// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movie[data-type=ok]{
  .ok-movie{
    display: block;
  }
  .ng-movie{
    display: none;
  }
}
.movie[data-type=ng]{
  .ok-movie{
    display: none;
  }
  .ng-movie{
    display: block;
  }
}


