// Place all the styles related to the summaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.summary-header{
  .refered-board{
    font-size: 12px;
    a{
      color:#777777;
      text-decoration: none;
      text-shadow: 0 1px 0 #FFFFFF;
    }
    a:hover{
      color:#333333;
      text-decoration: none;
    }
  }
  .summary-title{
    h1{
      margin:0 5px 5px 5px;
    }
    span{
      margin: 30px 0 0 10px;
      a{
        font-size: 10px;
        color:#777777;
        text-decoration: none;
        text-shadow: 0 1px 0 #FFFFFF;
      }
      a:hover{
        color:#333333;
        text-decoration: none;
      }
    }
  }
  #summary-category{
    a{
      color:#777777;
      text-decoration: none;
      text-shadow: 0 1px 0 #FFFFFF;
    }
    a:hover{
      color:#333333;
      text-decoration: none;
    }
  }
  #summary-tags{
    strong{
      padding-top: 4px;
      line-height: 20px;
    }
    .btn-group{
      margin-left: 5px;
    }
    button{
      line-height: 20px;
    }
  }
  .summary-description, .summary-all-description{
    color: #aaaaaa;
    padding: 10px 20px;
    max-height: 100px;
    a{
      color: #888888;
      text-decoration: none;
      text-shadow: 0 1px 0 #FFFFFF;
    }
    a:hover{
      color:#666666;
      text-decoration: none;
    }
  }

  .summary-tools{
    margin-left: 0px;
    height: 100%;
  }
  .social-buttons{
    margin-top: 5px;
    text-align: center;
    div{
      margin-left: 5px;
    }
  }

  .info-label{
    padding: 5px;
    font-size: 16px;
    line-height: 20px;
  }
}

.summary-content{
  .content-body{
    .input-prepend{
      label{
        padding-top: 0px;
      }
      .add-on{
        width: 130px;
      }
      input{
        width: 700px;
      }
      select{
        width: 700px;
      }
    }
    .nav-tabs{
      margin-top: 5px;
      .close{
        margin-left: 10px;
      }
    }
    .navbar-form{
      .input-prepend{
        label{
          padding-top: 0px;
        }
        .add-on{
          width: 26px;
        }
        select{
          width: 60px;
        }
      }
      .color-icon{
        background-color:#333333;
        width:20px;
        height:20px
      }
    }
    .comment-comment{
      display: none;
      position:relative;
      width:95%;
      margin-top:-13px;
      z-index:990;
      padding: 20px;
      font-family:"ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","メイリオ","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size:14px;
      line-height:14px;

      .arrow{
        left:150px;
      }

      textarea{
        width:97%;
        height:150px;
        font-size:14px;
        line-height:14px;
        font-family:"ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","メイリオ","Helvetica Neue",Helvetica,Arial,sans-serif;
      }
    }
  }
  .content-footer{
    text-align: center;
  }

  .add-condition-dialog{
    .modal-body{
      max-height: 250px;
    }
    input[type=number]{
      width: 80px;
    }
    .datetimepicker input{
      width: 160px;
    }
    .condition{
      margin-left: 10px;
    }
  }
  .condition-list{
    input[name*=good]{
      width: 50px;
    }
    input[name*=bad]{
      width: 50px;
    }
    input[name*=tag]{
      width: 600px;
    }
    input[name*=hash_id]{
      width: 600px;
    }
    input[name*=created_at]{
      width: 160px;
    }
    .condition{
      span.relation{
        width: 50px; 
      }
    }
  }
}

