// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.observe_item {
  min-height: 20px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

  .header{
    font-size: 18px;
    font-size: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 5px;
    padding-bottom: 5px;

    .label{
      margin-left: 0px;
      -webkit-border-radius: 5px 0 5px 0;
         -moz-border-radius: 5px 0 5px 0;
              border-radius: 5px 0 5px 0;
      padding: 5px;
    }
    .label-new-comment{
      background-color: #46aa47;
    }
    .label-add-comment-tag{
      background-color: #468847;
    }
    .label-new-board{
      background-color: #3a87cd;
    }
    .label-add-board-tag{
      background-color: #3a87ad;
    }
    .label-new-summary{
      background-color: #f89406;
    }
    .label-update-summary{
      background-color: #f88406;
    }

    .badge{
      margin-top: 2px;
      margin-left: 3px;
      padding: 3px 9px;
    }

    .badge-board{
      background-color: #666666;
    }

    .badge-summary{
      background-color: #f8a406;
    }

    .title{
      margin-top: 5px;
      margin-left: 3px;

      a{
        line-height: 22px;
      }
    }
    
  }

  .content{
    padding: 5px;
    margin-bottom: 5px;

    .comment{
      margin-bottom: 0;
    }
  }
}

