// Place all the styles related to the websites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.website[data-type=ok]{
  .ok-website{
    display: block;
  }
  .ng-website{
    display: none;
  }
}
.website[data-type=ng]{
  .ok-website{
    display: none;
  }
  .ng-website{
    display: block;
  }
}


