<li class="span2 image" data-hash-ids="<%= image.hash_ids.join(",") %>" data-type='ok'>
    <%= link_to "#{image_image_path(image)}.#{image.ext_name}", class: "thumbnail" do %>
      <%= image_tag thumb_image_path(image) %>
    <% end %>
    <%= image_tag 'placeholder.png', class: "placeholder thumbnail" %>
    <br/>
</li>
