<div id='images-container' class='container tab-pane'>
  <ul id='image-list' class="thumbnails clearfix">
    <%= render partial: 'images/image', collection: images.map(&:image) %>
  </ul>
  <% if images.size >= BoardImage::COUNT_PER_PAGE %>
  <div id="image-pagination" class="well" style="text-align:center">
    <%= link_to "続きを見る", images_board_path(
      id: images.last.board_id,
      num: "-#{images.last.id}"
    ) %>
  </div>
  <% end %>
</div>

