<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="ja" />
    <title>まとめ＠ちゃんねる。<%= yield :subtitle %></title>
    <!--[if lt IE 10]>
    <script src="/js/swfobject.js"></script>
    <script src="/js/web_socket.js"></script>
    <script type="text/javascript">
      WEB_SOCKET_SWF_LOCATION = "/js/WebSocketMain.swf";
    </script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="まとめ＠ちゃんねる。<%=  yield :subtitle %>">
    <meta name="keywords" content="まとめ＠ちゃんねる,<%=  yield :keywords %>">
    <meta name="description" content="<%= yield :description %>">
    <meta name="author" content="">
    <meta name="copyright" content="©" />
    <!-- Le styles -->
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>
  <body>
    <%= yield :social_js %>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <%= link_to 'まとめ＠ちゃんねる。', root_path,  :class=>"brand" %>
            <li>
              <%= link_to 'スレッド', boards_path %>
            </li>
            <li>
              <%= link_to 'まとめ', summaries_path %>
            </li>
            <li>
              <%= link_to 'タグ', board_tags_path %>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li class="dropdown">
              <%= link_to "#", class: "dropdown-toggle", "data-toggle" => "dropdown" do %>
                <%= current_user.name %>さん
                <b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu">
              <% if user_signed_in? %>
                <li><%= link_to 'マイスレッド', my_boards_path %></li>
                <li><%= link_to 'マイレス', my_comments_path %></li>
                <li><%= link_to 'マイまとめ', my_summaries_path %></li>
                <li><%= link_to 'お気に入り一覧', boards_favorites_path %></li>
                <li><%= link_to '履歴', boards_history_path %></li>
                <li><%= link_to 'ユーザ設定', edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'ログイン', new_user_session_path  %></li>
              <% end %>
              </ul> 
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield :content_head %>
    <div class="container content-body">
      <%= yield %>
      <div>
        <div style="text-align: center;">
           &copy; まとめ＠ちゃんねる 2013-
        </div>
      </div>
    </div>
    <div id="confirm-container"></div>
    <p id="page-top"><a href="#wrap">ページトップへ</a></p>
  </body>
</html>
