<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>まとめ＠ちゃんねる。
    </title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
    </script>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <style>
    </style>
  </head>
  <body>
    <div class="container hero-unit devise-content">
      <h1>
        <%= link_to 'まとめ＠ちゃんねる。', root_path %><br/>
      </h1>
      <div class="sub-title">
        <%= yield :sub_title %>
      </div>
      <hr/>
      <%= yield %>
    </div>
    <div style="text-align: center;">
       &copy; hoge 2013
    </div>
  </body>
</html>
