<h1><%= @user.name %>さんの立てたスレッド一覧</h1>
<hr>
<div class="clearfix">
  <%= render partial: "boards/board", collection: @boards, as: :board %>
</div>
<hr>
<div align="center">
  <%= paginate @boards %>
</div>

