<h1><%= @user.name %>さんのお気に入り一覧</h1>
<hr>
<ul class="nav nav-tabs" id="myTab">
  <li><%= link_to "スレッド", board_favorites_member_path(@user) %></li>
  <li class="active"><a href="#summaries-favorites" data-toggle="tab">まとめ</a></li>
</ul>
<div class="clearfix tab-content">
  <%= render partial: "summaries/summary", collection: @favorites.map(&:summary) %>
</div>

